
@model CardGame.Web.Models.Deckbuilder

@{
    ViewBag.Title = "DeckDetails";
}

<div class="scroller-collection row col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <h2>Collection</h2>
    <h2>Cards FÜR Deck</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Mana")
            </th>
            <th>
                @Html.DisplayName("Attack")
            </th>
            <th>
                @Html.DisplayName("Life")
            </th>
        </tr>

        @foreach (CardGame.Web.Models.Card card in Model.Collection)
        {
        <tr>
            <th>
                @card.Name
            </th>
            <th>
                @card.Mana
            </th>
            <th>
                @card.Attack
            </th>
            <th>
                @card.Life
            </th>
            <th>
                @Html.ActionLink("+", "AddCardToDeck", "Deckbuilder", new { id = Model.Collection.IndexOf(card) })
            </th>
        </tr>
        }
    </table>
</div>


<div class="scroller-seite-zwei-imdeck row col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <h2>Deck</h2>
    <h2>Cards IM Deck</h2>
    
    <table class="table">
        <tr>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayName("Mana")
                </th>
                <th>
                    @Html.DisplayName("Attack")
                </th>
                <th>
                    @Html.DisplayName("Life")
                </th>
            </tr>

        @foreach (CardGame.Web.Models.Card card in Model.Deck)
        {
            <tr>
                <th>
                    @card.Name
                </th>
                <th>
                    @card.Mana
                </th>
                <th>
                    @card.Attack
                </th>
                <th>
                    @card.Life
                </th>
                <th>
                    @Html.ActionLink("+", "RemoveCardFromDeck", "Deckbuilder", new { id = Model.Deck.IndexOf(card) })
                </th>
               
            </tr>

        }

    </table>
    

    @*@Html.ActionLink("Edit Deck", "EditDeck", "DeckBuilder", new { id = ViewContext.RouteData.Values["id"] }, null)*@

    @Html.ActionLink("Save Deck", "SaveDeck", new { id = Model.ID })

    <br />

    @Html.ActionLink("Deck bearbeiten", "EditDeck", "DeckBuilder")

    <br />

    @Html.ActionLink("Back to Deck Overview", "DeckOverview")

</div>

