@model CardGame.Web.Models.Order

@{
    ViewBag.Title = "OrderDetails";
}


<body>
    

    @*@using (Html.BeginForm())
    {
        <div>
            <p>Your Order is about @Model.PackQuantity pack(s) called @Model.Pack.Packname</p><br />
        </div>

        <div>
            <p>Your current balance is now @Model.UserBalance</p><br />
            <p>Your total cost of this Order is @Model.PackQuantity </p><br />
            <p>Your new balance is about @Model.UserBalance-(@Model.PackQuantity * @Model.Pack.Packprice)</p><br />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-submit" id="orderbutton">Buy Pack</button>
        </div>
    }*@


    <div class="col-xs-12 col-sm-6 col-md-6 side" id="left">
        <div class="panell" id="backgroundright">
            <div class="layout-background" id="wood_background">
                <h2>Order Details</h2>

                @using (Html.BeginForm())
                {
                    <div>
                        <p>Your Order is about @Model.PackQuantity pack(s) called @Model.Pack.Packname</p><br />
                    </div>

                    <div>
                        <p>Your current balance is now @Model.UserBalance</p><br />
                        <p>Your total cost of this Order is @Model.PackQuantity </p><br />
                        <p>Your new balance is about @Model.UserBalance-(@Model.PackQuantity * @Model.Pack.Packprice)</p><br />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-submit" id="orderbutton">Buy Pack</button>
                    </div>
                }


                @*<div class="form-group">
                        <button type="submit" class="btn btn-submit" id="login">Login</button>
                    </div>*@


            </div>
        </div>
    </div>

</body>
