@model CardGame.Web.Models.ShopContainer

@{
    ViewBag.Title = "Packages";
}

<div class="scroller row col-lg-6 col-md-6 col-sm-6 col-xs-6">

    @*@Html.Partial("_Orderdetails", Model.shop.Order)*@

    @foreach (var cp in Model.Shop.CardPacks)
    {
        <div class="packages-shopstart row col-md-12">
            <hr />
            <div class="col-sm-6">
                <img src="~/Content/Images/pack1.png" alt="" height="100" width="70" />
            </div>
            <br />
            <div class="col-sm-6">

                Pack @Html.Display(cp.Packname)
                <br />
                Cards inside @(cp.CardQuantity)
                <br />
                Price @(cp.Packprice) <img src="~/Content/Images/diamond.png" alt="diamond" height="15" width="15" />
            </div>
            <br />

            @if (Model.Shop.AmountMoney < cp.Packprice)
            {
                <input type="button" class="btn btn-info" value="buy Diamonds" onclick="location.href='@Url.Action("Order", "Shop")'" />
            }

            else
            {
                <div class="form-group">
                    <button type="submit" class="btn btn-submit" id="buypack">buy Pack</button>
                </div>
            }

        </div>
    }
</div>


<div class="scroller-seite-zwei row col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <h3>Order Details</h3><br>
    
    @foreach (var order in Model.Shop.CardPacks)
    { 
        <div>
            @(order.CardQuantity)
            @(order.Packname)
            
        </div>
    }
</div>

            
   



