@model CardGame.Web.Models.Register

@{
    ViewBag.Title = "View";
}

@*<div class="jumbotron">
        @{if (User.Identity.Name == "")
            {
            <h1>Welcome</h1>
            }
            else
            {
            <h1> Welcome @ViewBag.Email @ViewBag.Firstname @ViewBag.Lastname </h1>
            }
         }

        @{
            if (User.IsInRole("admin"))
            {
                <h1>You are admin!</h1>
            }
        }


    </div>*@

<body>
    <div class="booklets" id="background">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 side" id="left">
                <div class="panell" id="backgroundleft">
                    <div class="layout-background" id="wood_background">
                        @{if (User.Identity.Name == "")
                            {
                                <h1>Welcome</h1>
                            }
                            else
                            {
                                <h2> Welcome</h2>
                                <h2>@ViewBag.Gamertag</h2>
                                <h2>to the amazing Shop of</h2>

                            }
                        }

                        <h1>CLONESTONE</h1>
                        @{
                            if (User.IsInRole("player"))
                            {
                                <h2>You are a Player</h2>
                            }
                        }
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>

                        <input type="button" class="btn btn-info" value="Go to Shop" onclick="location.href='@Url.Action("Shop", "Shop")'" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 side" id="left">
                <div class="panell" id="backgroundright">
                    <div class="layout-background" id="wood_background">



                        @*<div class="form-group">
                                <button type="submit" class="btn btn-submit" id="login">Login</button>
                            </div>*@


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
