@model CardGame.Web.Models.Packages


@{
    ViewBag.Title = "Packages";
}

<body>
    <div class="booklets" id="background">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 side" id="left">
                <div class="panell" id="backgroundleft">
                    <div class="layout-background" id="wood_background">
                        <div>
                            <h2>@Model.Packname</h2>

                            @Html.DisplayNameFor(cp => cp.CardQuantity)
                            @Html.DisplayFor(cp => cp.CardQuantity)
                            <br />
                            @Html.DisplayNameFor(cp => cp.Packprice)
                            @Html.DisplayFor(cp => cp.Packprice)
                            <br />
                            Price per Card:
                            @((double)Model.Packprice / Model.CardQuantity)
                            <br />
                            <br />
                            @using (Html.BeginForm())
                            {
                                <div>
                                    Amount: <input type="text" name="numPacks" class="" />
                                </div>
                                <br />
                                <div>
                                    <input type="submit" value="Buy Pack(s)" class="btn btn-default" />
                                </div>
                            }

                        </div>

                        <input type="button" class="btn btn-info" value="Go to Shop" onclick="location.href='@Url.Action("Shop", "Shop")'" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 side" id="left">
                <div class="panell" id="backgroundright">
                    <div class="layout-background" id="wood_background">



                        @*<div class="form-group">
                                <button type="submit" class="btn btn-submit" id="login">Login</button>
                            </div>*@


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


